$input-range-font-family: 'Source Sans Pro', san-serif !default;
$input-range-primary-color: #616365 !default;
$input-range-secondary-color: #81B66F !default;
$input-range-neutral-color: #aaaaaa !default;
$input-range-neutral-light-color: #ffffff !default;
$input-range-disabled-color: #cccccc !default;

// input-range-slider
$input-range-slider-background: $input-range-primary-color !default;
$input-range-slider-border: 1px solid $input-range-primary-color !default;
$input-range-slider-focus-box-shadow-radius: 5px !default;
$input-range-slider-focus-box-shadow-color: transparentize($input-range-slider-background, 0.8) !default;
$input-range-slider-height: 2.0625rem !default;
$input-range-slider-width: 1.125rem !default;
$input-range-slider-transition: transform 0.3s ease-out, box-shadow 0.3s ease-out !default;
$input-range-slider-container-transition: left 0.3s ease-out !default;
$input-range-slider-active-transform: scale(1.1) !default;
$input-range-slider-disabled-background: $input-range-disabled-color !default;
$input-range-slider-disabled-border: 1px solid $input-range-disabled-color !default;

// input-range-label
$input-range-label-color: #313233 !default;
$input-range-label-font-size: 1.125rem !default;
$input-range-label-position-bottom: -1.4rem !default;
$input-range-label-value-position-top: -3rem !default;

// input-range-track
$input-range-track-background: $input-range-neutral-light-color !default;
$input-range-track-height: 0.9375rem !default;
$input-range-track-transition: left 0.3s ease-out, width 0.3s ease-out !default;
$input-range-track-active-background: $input-range-secondary-color !default;
$input-range-track-disabled-background: $input-range-neutral-light-color !default;
