body, 
html {
    margin: 0;
    padding: 0;
}

.living-calc {
    width: 75vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
            "header"
            "body-inputs"
            "calculations"
            "footer";
}

@media (min-width: 700px) {
    .living-calc {
        grid-template-columns: 65% 35%;        
        grid-template-areas: 
            "header header"
            "body-inputs calculations"
            "footer footer";
    }
}

.living-calc_header {
    grid-area: header;
    text-align: center;
}

.living-calc_sliders {
    grid-area: body-inputs;
}

.living-calc_data {
    grid-area: calculations;
}

.living-calc_blurb {
    grid-area: footer;
}

.living-calc_data__row {
    display: flex;
}

.living-calc_data__row > div {
    padding: 5px 10px;
}

.living-calc_data__row > div:nth-child(1) {
    flex-grow: 1;
}

.living-calc_data__row > div:nth-child(2) {
    text-align: right;
}