body, 
html {
    margin: 0;
    padding: 0;
}

.living-calc {
    width: 75vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.living-calc_header {
    text-align: center;
}

.living-calc_body {
    display: flex;
    flex-direction: column;
}

@media (min-width: 700px) {
    .living-calc_body {
        flex-direction: row;
    }

    .living-calc_sliders {
        width: 65%;
    }

    .living-calc_data {
        width: 35%;
    }
}

.living-calc_blurb {
}

.living-calc_data__row {
    display: flex;
}

.living-calc_data__row > div {
    padding: 5px 10px;
}

.living-calc_data__row > div:nth-child(1) {
    flex-grow: 1;
}

.living-calc_data__row > div:nth-child(2) {
    text-align: right;
}

/* Form Inputs & Sliders */

.form-control {
    display: block;
}